<div class="columns is-gapless" style="height: 100%;">
  <div id="map-pane" class="column is-9">

    <section class="hero is-fullheight-with-navbar" style="position: relative;">
      <div id="map" class="map"></div>
    </section>

    <!-- relationships sidebar -->
    <nav id="sidebar-relationships" class="panel">
      <p class="panel-heading">Spatial Relationships</p>
      <div class="control has-icons-left">
        <div class="select">
          <select id="select-relationships">
            <option value="within" selected="selected">within</option>
            <option value="contains">contains</option>
            <option value="intersects">intersects</option>
          </select>
        </div>
        <span class="icon is-left">
          <i class="fas fa-vector-square"></i>
        </span>
      </div>
      <div class="spatial-relationships"></div>
    </nav>

  </div>

  <div id="map-sidebar" class="column is-3">

    <!-- identity sidebar -->
    <nav id="sidebar-identity" class="panel">
      <p class="panel-heading">Identity</p>
      <table class="table is-fullwidth">
        <tbody>
          <tr>
            <th>source</th>
            <td>{{params.place.source}}</td>
          </tr>
          <tr>
            <th>id</th>
            <td>{{params.place.id}}</td>
          </tr>
        </tbody>
      </table>
    </nav>

    <!-- ontology sidebar -->
    <nav id="sidebar-ontology" class="panel">
      <p class="panel-heading">Ontology</p>
      <table class="table is-fullwidth">
        <tbody>
          <tr>
            <th>class</th>
            <td><a href="/explore/ontology">{{params.place.class}}</a></td>
          </tr>
          <tr>
            <th>type</th>
            <td><a href="/explore/ontology/{{params.place.class}}/{{params.place.type}}">{{params.place.type}}</a></td>
          </tr>
        </tbody>
      </table>
    </nav>

    <!-- geometry sidebar -->
    <nav id="sidebar-geometry" class="panel">
      <p class="panel-heading">Geometries</p>
      {{#each params.place.geometry}}
        <a class="sidebar-element panel-block is-active">
          <span class="panel-icon">
            <input type="checkbox" checked="checked" />
          </span>
          <span class="tag is-light">{{this.geom.type}}</span>
          <strong>{{this.role}}</strong>
        </a>
      {{/each}}
    </nav>

    <!-- property sidebar -->
    <nav id="sidebar-property" class="panel">
      <p class="panel-heading">Properties</p>
      <table class="table is-fullwidth">
        <tbody>
          {{#each params.place.property}}
            <tr><th>{{@key}}</th><td>{{this}}</td></tr>
          {{/each}}
        </tbody>
      </table>
    </nav>

    <!-- name sidebar -->
    <nav id="sidebar-name" class="panel">
      <p class="panel-heading">Names</p>
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>lang</th>
            <th>tag</th>
            <th>name</th>
          </tr>
        </thead>
        <tbody>
          {{#each params.place.name}}
          <tr>
            <td>{{uppercase this.lang}}</td>
            <td>
              {{this.tag}}
              {{#if (isTruthy this.abbr)}}
                <span class="tag is-light">ABBR</span>
              {{/if}}
            </td>
            <th>{{this.name}}</th>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </nav>

    <!-- hierarchy sidebar -->
    <nav id="sidebar-hierarchy" class="panel">
      <p class="panel-heading">Hierarchies</p>
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>parent</th>
            <th>branch</th>
            <th>depth</th>
          </tr>
        </thead>
        <tbody>
          {{#each params.place.hierarchy}}
          <tr>
            <td>
              <a data-source="{{this.parent_source}}" data-id="{{this.parent_id}}" data-show-source="1">
                {{this.parent_source}}/{{this.parent_id}}
              </a>
            </td>
            <td>{{this.branch}}</td>
            <td>{{this.depth}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </nav>
  </div>

</div>

<script>
  var events = $({});
  var params = JSON.parse(decodeURIComponent("{{{json}}}"));
</script>
<script src="/explore/assets/map.load.js"></script>
<script src="/explore/assets/relationships.js"></script>